project-code/logs
project-code/project/project
project-code/project/target
project-code/target
project-code/tmp
.history
project-code/dist
project-code/.idea
project-code/*.iml
project-code/out
project-code/.idea_modules
project-code/.classpath
project-code/.project
project-code/RUNNING_PID
project-code/.settings
project-code/.cache
project-code/.target
project-code/bin

samples/shared-session-sample/project/project
samples/shared-session-sample/project/target
samples/shared-session-sample/target
samples/shared-session-sample/logs
samples/shared-session-sample/tmp
.history
samples/shared-session-sample/dist
samples/shared-session-sample/.idea
samples/shared-session-sample/*.iml
samples/shared-session-sample/out
samples/shared-session-sample/.idea_modules
samples/shared-session-sample/.classpath
samples/shared-session-sample/.project
samples/shared-session-sample/RUNNING_PID
samples/shared-session-sample/.settings
samples/shared-session-sample/.cache
samples/shared-session-sample/.target
samples/shared-session-sample/bin

